.testimonials
  h2 Testimonials
  img.testimonials__img(src="../src/sections/testimonials/dropbox.svg", alt="dropbox")
  .testimonials__span16 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
  .testimonials__flexbox
    img.testimonials__icon(src="../src/sections/testimonials/profileicon.svg", alt="guy")
    .testimonials__flexbox__text Organize across UI Designer
  button.testimonials__button More Testimonials