$f-main: "Roboto", sans-serif;
$f-regular: 400;
$f-bold: 700;
$c-main: #252b42;
$c-second: #374754;
$c-white: #fff;
$c-active: #ef2779;
$c-blue: #38A3F1;
$c-gradient: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);