$f-main: "Roboto", sans-serif;
$f-regular: 400;
$f-bold: 700;
$f-h1: 900;

$f-12: 12px;
$f-15: 15px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-46: 46px;

$l-18: 18px;
$l-20: 20px;
$l-25: 25px;
$l-27: 27px;
$l-33: 33px;
$l-57: 57px;

$c-main: #252b42;
$c-second: #374754;
$c-white: #fff;
$c-active: #ef2779;
$c-blue: #38A3F1;
$c-gradient: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);