.sub
  .sub__span22 At your fingertips
  h2 Lightning fast prototyping
  .sub__span22 Subscribe to our Newsletter
  .sub__span18 Available exclusivery on Figmaland
  input.sub__input(type="text", placeholder="Your Email")
  button.sub__button Subscribe