.laptop
  h2 Lightning fast prototyping
  span.laptop__span16 Most calendars are designed for teams. Slate is designed for freelancers
  button.laptop__button Try For Free
  img.laptop__img(src="../src/sections/laptop/macbook.svg", alt="laptop")