doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='./assets/styles/styles.css')
body  
  include ./sections/header/header.pug
  include ./sections/hero/hero.pug
  include ./sections/features/features.pug
  include ./sections/laptop/laptop.pug
  include ./sections/subscribe/subscribe.pug
  include ./sections/partners/partners.pug
  include ./sections/testimonials/testimonials.pug
  include ./sections/pricing/pricing.pug
  include ./sections/contact/contact.pug
  include ./sections/footer/footer.pug
