@import "./general/var";
@import "../../sections/header/header";
@import "../../sections/hero/hero";
@import "../../sections/contact/contact";
@import "../../sections/features/features";
@import "../../sections/footer/footer";
@import "../../sections/laptop/laptop";
@import "../../sections/partners/partners";
@import "../../sections/pricing/pricing";
@import "../../sections/subscribe/subscribe";
@import "../../sections/testimonials/testimonials";
@import "./general/general";
@import "./general/button";

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.ttf); 
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}